.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    background: #e3dcdc;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 255, 0.7);
}

h5{
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
#result{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
#btn{
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
output{
    text-align: center;
    margin: 5%;
}